
language: php

git:
  depth: 5

matrix:
  include:
    - php: 5.5
      dist: precise
    - php: 5.6
    - php: 7.0
    - php: 7.1
    - php: 7.2
    - php: 7.3

install:
  - composer self-update
  - composer install

script:
  - vendor/bin/phug-dev check --report --coverage-php-version=5.6

notifications:
  slack: phug:nzXFnxhU14RWK2EQSDL0u08z

addons:
  code_climate:
    repo_token: fc2f2fae9cf389be5a7d353693e7f225027e0607e9bccde26ee0d762ee5f9bda
